#navbar li a {
    padding: 10px 15px;
}

#navbar li:focus {
    background-color: rgb(65, 32, 2);
}
li {
    list-style-type: none;
}
#main-div{
    background-color: rgb(1, 7, 30);
}
#main-navbar{
    backdrop-filter: blur(10px);
    background-color: transparent;
}