*{
    padding: 0;
    margin: 0;
}

#navbar li a {
    padding: 10px 15px;
}

#navbar .nav-item .active {
    background-color: rgb(6, 153, 141);
    border: none;
    color: rgba(208, 249, 255, 0.982);
}
li {
    list-style-type: none;
}
#main-div{
    background-color: rgb(1, 7, 30);
}
#main-navbar{
    backdrop-filter: blur(10px);
    background-color: transparent;
}
#about{
    display: flex;
}
@media screen and (max-width: 480px) {
    #about{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }

    #about .second button {
        font-size: 10px;
        padding: 10px 8px;
        width: auto;
    }

    .logo{
        display: flex;
        justify-content: center;
    }
    button{
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .all-links,.socials{
        flex-direction: column;
        justify-content: center;
    }
    .links-span,.company-span{
        font-size: 20px;
        color: azure;
    }
    .follow-us{
        font-size: 15px;
    }
    .company-div{
        font-size: 13;
    }
}
    

#about .first{
    width: 100%;
    height: 100%;
    background-color: rgb(240, 240, 240);
    display: flex;
    justify-content: center;
}
#about .second{
    width: 100%;
    height: auto;
    background-color: rgb(255, 255, 255);    
    font-family:  Geneva, Tahoma, sans-serif;
    word-spacing: 2px;
    font-weight: 100;
    color: #001a1c;
}
#btn-div{
    display: flex;
    justify-content: center;
    width: 100%;
}
.second a{
    text-decoration: none;
    color: azure;
}

footer{
    width: 100%;
    height: 100%;
    background-color: #0a0027;
    font-size: small;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 2px;
}
footer .btn{
    color: rgb(185, 185, 185);
    letter-spacing: 2px;
}
.all-links{
    display: flex;
    justify-content: space-around;
}
.logo{
    display: flex;
    justify-content: center;
}
.links-span,.company-span{
    font-size: 20px;
}

.portfolio a{
    text-decoration: none;
    color: rgb(185, 185, 185);
}
.policies p a{
    text-decoration: none;
    color: rgb(202, 202, 202);
    font-size: 13px;
}


