
.healthcare-advice .healthcare-advice-1 {
    background-image: url(/images/advices/first-advice.png);
    background-size: contain;
}

.healthcare-advice .healthcare-advice-2 {
    background-image: url(/images/advices/2nd-advice.png);
    background-size: contain;
}

.healthcare-advice .healthcare-advice-3 {
    background-image: url(/images/advices/3rd-advice.png);
    background-size: contain;
}

.healthcare-advice .healthcare-advice-4 {
    background-image: url(/images/advices/4th-advice.png);
    background-size: contain;
}

.healthcare-advice .healthcare-advice-5 {
    background-image: url(/images/advices/5th-advice.png);
    background-size: contain;
}

.healthcare-advice .healthcare-advice-6 {
    background-image: url(/images/advices/6th-advice.png);
    background-size: contain;
}

.healthcare-advice .healthcare-advice-7 {
    background-image: url(/images/advices/7th-advice.png);
    background-size: contain;
}

.healthcare-advice .healthcare-advice-8 {
    background-image: url(/images/advices/8th-advice.png);
    background-size: contain;
}

.healthcare-advice .healthcare-advice-9 {
    background-image: url(/images/advices/9th-advice.png);
    background-size: contain;
}

.healthcare-advice .healthcare-advice-10 {
    background-image: url(/images/advices/10th-advice.png);
    background-size: contain;
}

.healthcare-advice .healthcare-advice-11 {
    background-image: url(/images/advices/11th-advice.png);
    background-size: contain;
}

.healthcare-advice .healthcare-advice-12 {
    background-image: url(/images/advices/12th-advice.png);
    background-size: contain;
}

