.methods .first-row-methods .frcr-1 {
    background-image: url(/public/images/methods/bmi.png);
    background-size: contain;
}

.methods .first-row-methods .frcr-2 {
    background-image: url(/images/methods/bmr.png);
    background-size: contain;
}

.methods .first-row-methods .frcr-3 {
    background-image: url(/images/methods/whr.png);
    background-size: contain;
}

.methods .first-row-methods .frcr-4 {
    background-image: url(/images/methods/whrt1.png);
    background-size: contain;
}

.methods .first-row-methods .frcr-5 {
    background-image: url(/images/methods/bvi.png);
    background-size: contain;
}

.methods .first-row-methods .frcr-6 {
    background-image: url(/images/methods/bfp.png);
    background-size: contain;
}

